@model DEPARTAMENTO.Models.DEP.Formulario

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Formulario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaContrato)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaContrato)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdClienteNavigation.IdCliente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdDepartamentoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdDepartamentoNavigation.IdDepartamento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFormulario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
